


<!--
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="C:\Users\diana\Desktop\prueba\src\assets\Images\Rostro\Base\b01" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="C:\Users\diana\Desktop\prueba\src\assets\Images\Accesorios\Reloj" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="C:\Users\diana\Desktop\prueba\src\assets\Images\Accesorios\BolsaVerde" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
-->
<body>
    <div class="content-all">
        <div class="content-carrousel">
            <figure><img src="/assets/Images/Reloj.jpg"></figure>
            <figure><img src="/assets/Images/a89.jpg"></figure>
            <figure><img src="/assets/Images/BolsaVerde.jpg"></figure>
            <figure><img src="/assets/Images/cp01.jpg"></figure>
            <figure><img src="/assets/Images/IMG-20180712-WA0012.jpg"></figure>
            <figure><img src="/assets/Images/IMG-20180712-WA0018.jpg"></figure>
            <figure><img src="/assets/Images/IMG-20180712-WA0022.jpg"></figure>
            <figure><img src="/assets/Images/o09.jpg"></figure>
            <figure><img src="/assets/Images/o013.jpg"></figure>
        </div>
    </div>
</body>

