<div class="container">

    <div class="card">
        <img src="/assets/Images/Accesorios/BolsaVerde.jpg" >
        <h4>Bolsa Verde</h4>
        <p>$200</p>
    </div>   <!--Card-->

    <div class="card">
        <img src="/assets/Images/Accesorios/BolsaMorada.jpg" >
        <h4>Bolsa Morada</h4>
        <p>$200</p>
    </div>   <!--Card-->
     
    <div class="card">
        <img src="/assets/Images/Accesorios/Mochila.jpg" >
        <h4>Backpack</h4>
        <p>$300</p>
    </div>   <!--Card-->

    <div class="card">
        <img src="/assets/Images/Accesorios/Reloj.jpg" >
        <h4>Reloj</h4>
        <p>$200</p>
    </div>   <!--Card-->

</div> <!--Container-->