
<div class="container">
    <div class="card">
<!--**********Base****************-->        
        <img src="/assets/Images/Rostro/Base/b01.jpg" >
        <h4>Base Mamila MAC </h4>
        <p>$300</p>
    </div>   <!--Card-->

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b02.jpg" >
        <h4>Base MAC Clasica</h4>
        <p>$200</p>
    </div>   <!--Card-->
     
    <div class="card">
        <img src="/assets/Images/Rostro/Base/b03.jpg" >
        <h4>Base Mamila MAC</h4>
        <p>$300</p>
    </div>   <!--Card-->

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b04.jpg" >
        <h4>Base MAC Clasica</h4>
        <p>$200</p>
    </div>   <!--Card-->

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b05.jpg" >
        <h4>Base MAC Clasica </h4>
        <p>$200</p>
    </div>   <!--Card-->

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b06.jpg" >
        <h4>Base MAC Clasica</h4>
        <p>$200</p>
    </div>   <!--Card-->
     
    <div class="card">
        <img src="/assets/Images/Rostro/Base/b07.jpg" >
        <h4>Base MAC Clasica</h4>
        <p>$200</p>
    </div>   <!--Card-->

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b08.jpg" >
        <h4>Base MAC Clasica</h4>
        <p>$200</p>
    </div>   <!--Card-->    

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b09.jpg" >
        <h4>Base Mamila MAC </h4>
        <p>$300</p>
    </div>   <!--Card-->

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b10.jpg" >
        <h4>Base Mamila MAC</h4>
        <p>$300</p>
    </div>   <!--Card-->
     
    <div class="card">
        <img src="/assets/Images/Rostro/Base/b11.jpg" >
        <h4>Base Mamila MAC</h4>
        <p>$300</p>
    </div>   <!--Card-->

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b12.jpg" >
        <h4>Base MAC Clasica</h4>
        <p>$200</p>
    </div>   <!--Card-->  

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b13.jpg" >
        <h4>Base Mamila MAC</h4>
        <p>$300</p>
    </div>   <!--Card--> 

    <div class="card">
        <img src="/assets/Images/Rostro/Base/b14.jpg" >
        <h4>Base Mamila MAC</h4>
        <p>$300</p>
    </div>   <!--Card-->

<!--**********Correctores****************-->
    <div class="card">
            <img src="/assets/Images/Rostro/Corrector/c01.jpg" >
            <h4>Corrector</h4>
            <p>$50</p>
        </div>
    
        <div class="card">
            <img src="/assets/Images/Rostro/Corrector/c02.jpg" >
            <h4>Corrector</h4>
            <p>$50</p>
        </div> 
        
        <div class="card">
            <img src="/assets/Images/Rostro/Corrector/c03.jpg" >
            <h4>Corrector</h4>
            <p>$50</p>
        </div> 
        
        <div class="card">
            <img src="/assets/Images/Rostro/Corrector/c04.jpg" >
            <h4>Corrector</h4>
            <p>$50</p>
        </div>

        <div class="card">
                <img src="/assets/Images/Rostro/Corrector/c05.jpg" >
                <h4>Corrector</h4>
                <p>$50</p>
            </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Corrector/c06.jpg" >
            <h4>Corrector</h4>
            <p>$50</p>
        </div>            

        <div class="card">
            <img src="/assets/Images/Rostro/Corrector/c07.jpg" >
            <h4>Corrector</h4>
            <p>$50</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Corrector/c08.jpg" >
            <h4>Corrector</h4>
            <p>$50</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Corrector/c09.jpg" >
            <h4>Corrector</h4>
            <p>$50</p>
        </div>

        <!--**********Iluminador****************-->
        <div class="card">
            <img src="/assets/Images/Rostro/Iluminador/IMG-20180712-WA0018.jpg" >
            <h4>Iluminador</h4>
            <p>$140</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Iluminador/IMG-20180712-WA0073.jpg" >
            <h4>Iluminador</h4>
            <p>$140</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Iluminador/IMG-20180712-WA0074.jpg" >
            <h4>Iluminador</h4>
            <p>$140</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Iluminador/IMG-20180712-WA0075.jpg" >
            <h4>Iluminador</h4>
            <p>$140</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Iluminador/IMG-20180712-WA0076.jpg" >
            <h4>Iluminador</h4>
            <p>$140</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Iluminador/IMG-20180712-WA0077.jpg" >
            <h4>Iluminador</h4>
            <p>$140</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Iluminador/peach.jpg" >
            <h4>Iluminador</h4>
            <p>$140</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Iluminador/so.jpg" >
            <h4>Iluminador</h4>
            <p>$140</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Iluminador/star.jpg" >
            <h4>Iluminador</h4>
            <p>$140</p>
        </div>

        <!--**********Primer****************-->
        <div class="card">
            <img src="/assets/Images/Rostro/Primer/huxia.jpg" >
            <h4>Primer</h4>
            <p>$120</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Primer/IMG-20180712-WA0005.jpg" >
            <h4>Primer</h4>
            <p>$130</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Primer/IMG-20180712-WA0065.jpg" >
            <h4>Primer</h4>
            <p>$135</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Primer/IMG-20180712-WA0108.jpg" >
            <h4>Primer</h4>
            <p>$150</p>
        </div>

        <div class="card">
            <img src="/assets/Images/Rostro/Primer/IMG-20180712-WA0111.jpg" >
            <h4>Primer</h4>
            <p>$150</p>
        </div>

<!--**********Rubor****************-->
<div class="card">
    <img src="/assets/Images/Rostro/rubor/a89.jpg" >
    <h4>Rubor</h4>
    <p>$125</p>
</div>

<div class="card">
    <img src="/assets/Images/Rostro/rubor/a93.jpg" >
    <h4>Rubor</h4>
    <p>$125</p>
</div>

<div class="card">
    <img src="/assets/Images/Rostro/rubor/b59.jpg" >
    <h4>Rubor</h4>
    <p>$125</p>
</div>

<div class="card">
    <img src="/assets/Images/Rostro/rubor/IMG_20180712_130837501.jpg" >
    <h4>Rubor</h4>
    <p>$125</p>
</div>

</div> <!--Container-->
