<p>cuidado works!</p>
<div class="container">
        <div class="card">
    <!--**********Base****************-->        
            <img src="/assets/Images/Cuidado/cp01.jpg" >
            <h4>Mascarilla de Aguacate  </h4>
            <p>$15</p>
        </div>   <!--Card-->
    
        <div class="card">
            <img src="/assets/Images/Cuidado/cp02.jpg" >
            <h4>Mascarilla de Te</h4>
            <p>$15</p>
        </div>   <!--Card-->
         
        <div class="card">
            <img src="/assets/Images/Cuidado/cp03.jpg" >
            <h4>Ojeras</h4>
            <p>$30</p>
        </div>   <!--Card-->

</div> <!--Container-->
    