<div  class="menu-fixed">
  <nav class="navbar sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="https://www.facebook.com/Love-Makeup-1759027480828445/">
        Love MakeUp
      </a>
    <a class="navbar-brand" href="/Home">Principal</a>
    <a class="navbar-brand" href="/Labiales">Labiales</a>
    <a class="navbar-brand" href="/Ojos">Ojos</a> 
    <a class="navbar-brand" href="/Rostro">Rostro</a>
    <a class="navbar-brand" href="/Cuidado">Cuidado de la Piel</a>
    <a class="navbar-brand" href="/Accesorios">Accesorios</a>
    <a class="navbar-brand" href="/Otros">Otros</a>
    <a class="navbar-brand" href="/Login">Iniciar Sesion</a>

  </nav>
</div> <!--Menu fixed-->
<!--Home-->

<router-outlet></router-outlet>
<!-- End Home-->
