

<form class="productos" (ngSubmit)="login()">
        <div class="form-group">
           <input type="email" class="form-control" step="0.01" placeholder="Correo" name="name" [(ngModel)]="email">
        </div>
     
        <div class="form-group">   
         <input type="password" class="form-control" step="0.01" placeholder="Contraseña" name="price" [(ngModel)]="password"> 
       </div>
     
       <button type="submit" href="/Administrador" class="btn btn-light btn-block">Iniciar Sesion</button>
</form>



