<p>labiales works!</p>
<div class="container">
    <!--**********Labiales Hida****************--> 
        <div class="card">       
            <img src="/assets/Images/Labiales/hida5-1/IMG_20180712_115638168.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->
    
        <div class="card"> 
        <img src="/assets/Images/Labiales/hida5-1/IMG_20180712_115817757.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card"> 
        <img src="/assets/Images/Labiales/hida5-1/IMG_20180712_120017868.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card"> 
        <img src="/assets/Images/Labiales/hida5-1/IMG_20180712_120315113.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

 <!--**********Labiales Kylie****************--> 
        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/22.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/candy.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/ginger.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/k.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/king k.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card--> 

        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/kourt k.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/kristen.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card-->    

        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/posie k.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/reign.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/Kylie/t-brown.jpg" >
            <h4>Labial</h4>
            <p>$60</p>
        </div>   <!--Card-->

<!--**********Labiales Mac****************-->   
        <div class="card">
            <img src="/assets/Images/Labiales/mac/a01.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a02.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a03.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a04.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a05.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/A06.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a07.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a09.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a10.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->
        
        <div class="card">
            <img src="/assets/Images/Labiales/mac/a11.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a12.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a13.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/mac/a14.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <!--**********Labiales Victoria****************-->
        <div class="card">
            <img src="/assets/Images/Labiales/victoria/IMG_20180712_114319623_HDR.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/victoria/IMG_20180712_114504629_HDR.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/victoria/IMG_20180712_114607148_HDR.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/victoria/IMG_20180712_114647628_HDR.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Labiales/victoria/IMG_20180712_114709896_HDR.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->
          
        <div class="card">
            <img src="/assets/Images/Labiales/victoria/IMG_20180712_114751025_HDR.jpg" >
            <h4>Labial</h4>
            <p>$50</p>
        </div>   <!--Card-->

</div> <!--Container-->
