<div class="container">
        <div class="card">
    <!--**********Otros Brochas****************-->        
            <img src="/assets/Images/Otros/o01.jpg" >
            <h4>Brocha</h4>
            <p>$15</p>
        </div>   <!--Card-->
    
        <div class="card">
            <img src="/assets/Images/Otros/o02.jpg" >
            <h4>Brocha</h4>
            <p>$15</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Otros/o03.jpg" >
            <h4>Brocha</h4>
            <p>$15</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Otros/o04.jpg" >
            <h4>Brocha</h4>
            <p>$15</p>
        </div>   <!--Card-->
         
        <div class="card">
            <img src="/assets/Images/Otros/o05.jpg" >
            <h4>Brocha</h4>
            <p>$15</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Otros/o05.jpg" >
            <h4>Brocha</h4>
            <p>$15</p>
        </div>   <!--Card-->
        
        <div class="card">
            <img src="/assets/Images/Otros/o06.jpg" >
            <h4>Brocha</h4>
            <p>$50</p>
        </div>   <!--Card--> 

        <div class="card">
            <img src="/assets/Images/Otros/o07.jpg" >
            <h4>Brocha</h4>
            <p>$50</p>
        </div>   <!--Card-->

        <div class="card">
            <img src="/assets/Images/Otros/o013.jpg" >
            <h4>Paquete Brochas de 32 piezas</h4>
            <p>$400</p>
        </div>   <!--Card-->

    <!--**********Otros Esponja****************-->
        <div class="card">
            <img src="/assets/Images/Otros/o08.jpg" >
            <h4>Esponja</h4>
            <p>$30</p>
        </div>   <!--Card-->

       <div class="card">
        <img src="/assets/Images/Otros/o012.jpg" >
        <h4>Bra</h4>
        <p>$30</p>
    </div>   <!--Card--> 

     <!--**********Otros Bra****************-->
     <div class="card">
        <img src="/assets/Images/Otros/o09.jpg" >
        <h4>Bra</h4>
        <p>$100</p>
    </div>   <!--Card--> 
    
    <div class="card">
        <img src="/assets/Images/Otros/o010.jpg" >
        <h4>Bra</h4>
        <p>$100</p>
    </div>   <!--Card--> 

    <div class="card">
        <img src="/assets/Images/Otros/o011.jpg" >
        <h4>Bra</h4>
        <p>$100</p>
    </div>   <!--Card-->   

</div> <!--Container-->
